.masthead{
    height: 300px;
    opacity: 300px;
    
}
 h2, body, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgrey;
}
h1, .subheading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
    
}

body{
    background-color:honeydew;
}

.vid{
    height: 500px; 
    width: 200px;
}

.pic{
    width: 800px;
}

.topright{
    text-align:right
}